{{ define "main" }}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <a href="{{ .Site.BaseURL }}/providers/">Back to list</a><br><br>
                <h1 class="title">{{ .Params.full_name }}</h1>
                <h2 class="subtitle">{{ .Params.specialty }}</h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container content">
            <p><strong>Number of Offices:</strong> {{ .Params.offices }}</p>
            <p>
                <strong>Address:</strong><br>
                {{ .Params.street }}<br>
                {{ .Params.city }}, {{ .Params.state }}, {{ .Params.zip }}
            </p>
            <p><strong>Phone:</strong> {{ .Params.phone }}</p>
            <p><strong>Timezone:</strong> {{ .Params.time_zone }}</p>
        </div>
    </section>
{{ end }}